<h5>Breakdown for Marking Period <%= @marking_period %></h5>

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<th>% Above 55</th>
		<th>% Above 65</th>
		<th>% Above 85</th>
	</thead>
	<tbody>
    <tr>
      <td><%= @breakdown[55] %>%</td>
      <td><%= @breakdown[65] %>%</td>
      <td><%= @breakdown[85] %>%</td>
    </tr>
	</tbody>
</table>