<div class="pagination">
  <ul>
    <% 1.upto(CURRENT_MARKING_PERIOD) do |mp| %>
  		<li class="mp<%= mp %>"><a href="?mp=<%= mp %>">MP<%= mp %></a></li>
  	<% end %>
  	<script>
  	  $('.mp<%= @marking_period %>').addClass('active');
  	</script>
  </ul>
</div>