<div class="row">
  <div id="ela_chart" class="span6"></div>
  <div id="math_chart" class="span6"></div>
</div>
<div class="row">
  <div class="span12">
  <% @data.each do |subject| %>
  <h2><%= subject[:name] %></h2>
  <table class="table table-bordered table-striped table-condensed tablesorter">
    <thead>
      <tr>
        <th>Grade</th>
        <th>NYS Exam</th>
        <th>Benchmark Average</th>
        <th>Predictive Average</th>
        <th>Progress Based on Benchmark</th>
        <th>Progress Based on Predictive</th>
      </tr>
    </thead>
    <tbody>
      <% subject[:data].each do |row| %>
      <tr>
       <% row.each do |data| %>
        <td><%= data %></td>
       <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  </div>
</div>
<div class="row">
  <div id="ela_bar" class="span6"></div>
  <div id="math_bar" class="span6"></div>
</div>

<script type="text/javascript" src="/js/exam_pie_charts.js"></script>