<div class="row">
  <div id="ela_chart" class="span6"></div>
  <div id="math_chart" class="span6"></div>
</div>
<div class="row">
  <div class="span12">
  <% @data.each do |subject| %>
  <h2><%= subject[:name] %></h2>
  <table class="table table-bordered table-striped table-condensed tablesorter">
    <thead>
      <tr>
        <th>Grade</th>
        <th>NYS Exam</th>
        <th>Benchmark Average</th>
        <th>Predictive Average</th>
        <th>Progress Based on Benchmark</th>
        <th>Progress Based on Predictive</th>
      </tr>
    </thead>
    <tbody>
      <% subject[:data].each do |row| %>
      <tr>
       <% row.each do |data| %>
        <td><%= data %></td>
       <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  </div>
</div>
<div class="row">
  <div id="ela_bar" class="span6"></div>
  <div id="math_bar" class="span6"></div>
</div>

<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawCharts);

  function drawCharts (){
    $.getJSON('/api/lowest-third', function(dataSet) {
      drawLowestThirdPieChart(dataSet, 'ela', 'ela_chart', 470, 300);
      drawLowestThirdPieChart(dataSet, 'math', 'math_chart', 470, 300);
      drawLowestThirdAverage(dataSet, 'ela', 'ela_bar', 470, 400);
      drawLowestThirdAverage(dataSet, 'math', 'math_bar', 470, 400);
    })
  };

  $(document).ready(function(){
    $('table tbody tr > td').each(
      function(i,e){
        var value = $(e).text()
        if (value < 0) {
          $(e).css('color', 'red')
        } else if (value > 0 && value < 50) {
          $(e).css('color', 'green')
        }
      }
    );
  });
</script>