<form action="/birdseye" method="get" accept-charset="utf-8">
	<select name="subject" id="subject"  onchange="">
		<% SUBJECTS.each do |subject| %>
		<option value="<%= subject %>"><%= subject %></option>
		<% end %>
	</select>
	<select name="grade" id="grade" onchange="">
		<% GRADES.each do |grade| %>
		<option value="<%= grade %>"><%= grade %></option>
		<% end %>
	</select>
	<select name="cohort" id="cohort" onchange="">
		<option>Cohort</option>
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
	</select>
	<input type="submit" value="Continue &rarr;" class="btn btn-primary">
</form>