.hero-unit
  %h1 Oh noes!
  %p
    As it stands, you are not authorized to view this (or probably any other) page. This could be for any number of reasons. Either you're not logged in, your still pending approval, or your access has been revoked. Bummer.