%h1 Courses

%table.table
  %thead
    %tr
      %th Name
      %th Code
      %th Weight
  %tbody
  - @courses.each do |course|
    %tr
      %td= course.name
      %td= course.code
      %td= course.weight
