%footer
  - if current_account
    Logged in as
    %strong= current_account.name
    (
    = link_to "Sign Out", url_for(:users, :signout)
    ).
  - else
    Currently not logged in
    (
    = link_to "Sign In", url_for(:users, :signin)
    ).
  - if user_is_admin
    %span.label.label-info Admin
  - if user_is_pending
    %span.label.label-warning Access Pending
  - if user_is_revoked
    %span.label.label-important Privileges Revoked